* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:rgba(51, 51, 51, 1);
}

.bg-body-tertiary {
    background-color: rgba(138, 250, 136, 1) !important;
    filter: drop-shadow(3px 4px 4px rgba(89, 87, 87, 1));
}

#home-con {
    text-align: center;
    height: 100vh;
    background-color: whitesmoke;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home-con h1{
    font-weight: bold;
    font-size: 3.5vh;
    margin-bottom: 4%;
}

